<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">
<!-- 定义一个DataSource -->
	<bean id="dbcp" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="username" value="root">
		</property>
		<property name="password" value="123456">
		</property>
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">   
		</property>
		<!--property name="url" value="jdbc:mysql://zhaoyangaa2.iok.la:22232/fmanagement?useUnicode=true&amp;characterEncoding=utf8"/-->
		<property name="url" value="jdbc:mysql://192.168.0.108:3306/fmanagement?useUnicode=true&amp;characterEncoding=utf8"/>
	
	</bean>

<!-- 定义LocalSessionFactoryBean,
作用是封装了SessionFactory对象创建过程 -->
<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
	<!-- 指定连接信息 -->
	<property name="dataSource" ref="dbcp">
	</property>
	<!-- 指定框架参数 -->
	<property name="hibernateProperties">
		<props>
			<prop key="hibernate.show_sql">true</prop>
			<prop key="hibernate.format_sql">false</prop>
			<prop key="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
			</prop>
		</props>
	</property>
	<!-- 指定hbm映射信息 -->
	<property name="mappingLocations">
		<list>
			<value>classpath:User.hbm.xml</value>
			<value>classpath:Family.hbm.xml</value>
			<value>classpath:Bill.hbm.xml</value>
			<value>classpath:Book.hbm.xml</value>
			<value>classpath:Account.hbm.xml</value>
			<value>classpath:Note.hbm.xml</value>
			<value>classpath:Plan.hbm.xml</value>
			<value>classpath:Product.hbm.xml</value>
			<value>classpath:U_family.hbm.xml</value>
			<value>classpath:Data.hbm.xml</value>
			<value>classpath:Skin.hbm.xml</value>
			
		</list>
	</property>
</bean>

<!-- 定义HibernateTemplate -->
<bean id="template"
class=" org.springframework.orm.hibernate3.HibernateTemplate">
	<property name="sessionFactory" 
		ref="sessionFactory">
	</property>
</bean>

<!-- 开启组件扫描,扫描Action,Service,Dao -->
<context:component-scan base-package="com.tedu"/>

<!-- 开启Spring事务控制 -->
<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!-- 开启@Transactional注解支持 -->
	<tx:annotation-driven transaction-manager="txManager"/>

</beans>




	